<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/admin.css">

</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <section class="titleAdmin">
                <div class="pageDescription">
                    <span>Painel do admin </span>
                </div>

                <div class="adminName">
                    <img src="/img/engineering_black_24dp.svg" alt="">
                    <span> Olá <%= usuarioLogado.nome %>, gerencie sua aplicação </span>
                </div>
            </section>

            <br>

            <section class="superPromotions">

                <div class="tituloSessao">
                    <img src="/img/icons/offer_black_24dp.svg" alt="">
                    <span> PRODUTOS EM OFERTA </span>
                </div>

                <br>

                <div class="listagemProdutos">

                    <span class="span-lista">Lista de produtos</span>
                    
                    <div class="align-row" style="width: 100%;">
                        <table class="tabelaProdutos">
                            <tr>
                                <th> ID </th>
                                <th> Título do produto </th>
                                <th> Valor original </th>
                                <th> Valor promocional </th>
                                <th> Desconto </th>
                                <th> Ação </th>
                            </tr>

                    <% obj.produtos.forEach(function(produto){ %>
                            <tr>
                                <td style="font-weight: bold">
                                    <%= produto.id %>
                                </td>

                                <td>
                                    <%= produto.nomeProduto %>
                                </td>

                                <td>
                                    R$ <%= produto.valorOriginal %>
                                </td>

                                <td>
                                    R$ <%= produto.valorPromocional %>
                                </td>

                                <td>
                                    <%= Math.round(produto.valorPromocional*100 / produto.valorOriginal) %>%
                                </td>

                                <td class="editar-remover">
                                    <a href="" class="acao" id="editarOferta"> Editar</a>
                                    <a href="" class="acao" id="removerOferta">Remover</a>
                                </td>
                            </tr>
                            <% }) %>

                        </table>
                    </div>
                </div>


                <br>

                <div class="incluirOferta">

                    <span class="incluir"> INCLUIR PRODUTO </span>

                    <br> <br>

                    <form action="/admin/envioOfertas" method="post""
                        class="produtoOferta">

                        <div>
                            <label for="imagemProduto"> Imagem do produto: </label>
                            <br>
                            <input type="file" name="imagemProduto" id='imagemProduto' onchange="validaExtensao(this)"
                                required>
                        </div>

                        <div>
                            <label for="nomeProduto"> Título do produto: </label>
                            <br>
                            <input type="text" name="nomeProduto" id="nomeProduto" required>
                        </div>

                        <div>
                            <label for="valorOriginal"> Valor original: </label>
                            <br>
                            <input type="number" step="0.01" name="valorOriginal" min="0.01" id="valorOriginal"
                                required>
                        </div>

                        <div>
                            <label for="valorPromocional"> Valor promocional: </label>
                            <br>
                            <input type="number" step="0.01" name="valorPromocional" min="0.01" id="valorPromocional"
                                required>
                        </div>

                        <button type="submit" class="btn-ofertas"> Incluir na lista </button>

                    </form>

                </div>

                <!-- <br> <br>

                <div class="editarOferta">

                    <span class="excluir"> EDITAR PRODUTO </span>

                    <br> <br>

                    <form action="" method="post">
                        <label for="idProduto"> ID do produto que deseja atualizar :</label>
                        <br>
                        <input type="number" id="idProduto">

                        <br>

                        <div>
                            <label for="imagemProdutoEdit"> Imagem do produto: </label>
                            <br>
                            <input type="file" name="imagemProdutoEdit" id='imagemProdutoEdit' onchange="validaExtensao(this)">
                        </div>

                        <div>
                            <label for="nomeProdutoEdit"> Título do produto: </label>
                            <br>
                            <input type="text" name="nomeProdutoEdit" id="nomeProdutoEdit">
                        </div>

                        <div>
                            <label for="valorOriginalEdit"> Valor original: </label>
                            <br>
                            <input type="number" step="0.01" name="valorOriginalEdit" min="0.01" id="valorOriginalEdit">
                        </div>

                        <div>
                            <label for="valorPromocionalEdit"> Valor promocional: </label>
                            <br>
                            <input type="number" step="0.01" name="valorPromocionalEdit" min="0.01" id="valorPromocionalEdit">
                        </div>


                        <br> <br>

                        <button type="submit" class="btn-editarOferta"> Atualizar produto </button>

                    </form>
                </div> -->

            </section>

        </main>

        <%- include('../partials/chat') %>

        <%- include('../partials/footer') %>

</body> 

<script type="text/javascript">

    function validaExtensao() {

        var arquivoInput = document.getElementById('imagemProduto');
        var caminhoArquivo = arquivoInput.value;
        var extensoesPermitidas = /(.jpg|.jpeg|.png)$/i;

        if (!extensoesPermitidas.exec(caminhoArquivo)) {

            alert('Por favor, envie um arquivo que tenha as extensões .jpeg, .jpg, ou .png ');
            arquivoInput.value = '';

            return false;

        } else {

            if (arquivoInput.files && arquivoInput.files[0]) {
                var reader = new FileReader();

                reader.readAsDataURL(arquivoInput.files[0]);

                console.log(arquivoInput.files[0].size / 1024 / 1024);
                console.log(arquivoInput.files[0].size);

                if (arquivoInput.files[0].size > 2097152) {
                    alert("Tamanho do arquivo deve ser 2 MB");
                    return false;
                }
            }
        }
    }

</script>

</html>