<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/produtos.css">

</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <section class="containerGame">
                <div class="infoGame">
                    <div class="imgGame">
                        <img src='/assets/img/games/viewsgames/pubg-mobile.jpg' alt="Pubg Mobile IMG">
                    </div>
                    <div class="dadosDoGame">
                        <span class="tituloGame"> <%= games.pubgMobile.tituloGame %> </span>
                        <p class="descricaoGame">
                            <%= games.pubgMobile.descricaoGame %>
                        </p>
                        <span class="valorGame"> <i>R$</i> <%= games.pubgMobile.valorGame %> </span>
                        <br>
                        <button class="btn-Game"> Comprar </button>
                    </div>
                </div>
            </section>

        </main>

        <%- include('../partials/chat') %>

            <%- include('../partials/footer') %>

</body>

</html>